* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

nav .logo h1 {
  margin: 3rem 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro {
  height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro h2 {
  font-size: 6.5rem;
  padding-top: 2rem;
  background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
  background: linear-gradient(left, #38d39f, #38a4d3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.intro h3 {
  font-size: 4rem;
  padding-top: 1.3rem;
}

.intro p {
  padding-top: 1.3rem;
  line-height: 1.6;
  color: #2c2c2c;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 3rem;
}

.intro-social a {
  margin-right: 5rem;
}

.active {
  background: #2c2c2c;
  color: white;
  padding: 0.8rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#plant-left {
  -webkit-animation: plant 1.5s ease infinite alternate;
          animation: plant 1.5s ease infinite alternate;
}

#plant-right {
  -webkit-animation: plant 1.5s ease infinite alternate 0.5s;
          animation: plant 1.5s ease infinite alternate 0.5s;
}

#me {
  -webkit-animation: me 1s ease infinite alternate;
          animation: me 1s ease infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#clock-arrow {
  -webkit-animation: clock 1.5s linear infinite;
          animation: clock 1.5s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes me {
  from {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }
  to {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
}

@keyframes me {
  from {
    -webkit-transform: rotateZ(-6deg);
            transform: rotateZ(-6deg);
  }
  to {
    -webkit-transform: rotateZ(6deg);
            transform: rotateZ(6deg);
  }
}

@-webkit-keyframes plant {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@keyframes plant {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.skills {
  min-height: 100vh;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.skills h2 {
  margin-top: 12rem;
}

.skills .skills-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12rem 0rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5rem;
}

.skills .skills-info .js,
.skills .skills-info .react,
.skills .skills-info .jquery,
.skills .skills-info .style,
.skills .skills-info .ecma,
.skills .skills-info .html,
.skills .skills-info .css,
.skills .skills-info .sass,
.skills .skills-info .git,
.skills .skills-info .github,
.skills .skills-info .redux,
.skills .skills-info .thunk,
.skills .skills-info .bootstrap,
.skills .skills-info .ajax {
  border-radius: 50%;
  position: relative;
  border: 3px solid #37bdb8;
  height: 15rem;
  width: 15rem;
}

.skills .skills-info .js h3,
.skills .skills-info .react h3,
.skills .skills-info .jquery h3,
.skills .skills-info .style h3,
.skills .skills-info .ecma h3,
.skills .skills-info .html h3,
.skills .skills-info .css h3,
.skills .skills-info .sass h3,
.skills .skills-info .git h3,
.skills .skills-info .github h3,
.skills .skills-info .redux h3,
.skills .skills-info .thunk h3,
.skills .skills-info .bootstrap h3,
.skills .skills-info .ajax h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.9rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.projects {
  width: 95%;
  margin: auto;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 4rem;
}

.cool-girl,
.ignite,
.capture,
.color,
.music {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0rem;
  border-radius: 1rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.cool-girl h2,
.ignite h2,
.capture h2,
.color h2,
.music h2 {
  text-align: center;
  padding-bottom: 5rem;
}

.music img,
.capture img,
.cool-girl img,
.color img,
.ignite img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}

.form-section {
  margin-top: 5rem;
  margin-bottom: 6rem;
  min-height: 70vh;
}

.form-section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  padding: 5rem 10rem;
  gap: 4rem;
  border: 4px solid black;
  height: 50vh;
  width: 60%;
  margin-top: 20rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

.form-section .info .ball {
  width: 3rem;
  height: 3rem;
  background-color: black;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.form-section .info .my-num,
.form-section .info .my-gmail,
.form-section .info .facebook,
.form-section .info .linked-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1238px) {
  html {
    font-size: 46%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }
}

@media screen and (max-width: 727px) {
  svg {
    height: 60%;
    margin-bottom: 4rem;
  }
  .main-head {
    width: 100%;
  }
  .skills-info {
    padding-bottom: 5.5rem;
  }
  nav .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50rem;
            flex: 1 1 50rem;
    margin-top: 2rem;
  }
  nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60rem;
            flex: 1 1 60rem;
    margin: 2rem 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-text {
    margin-top: 1rem;
    text-align: center;
  }
  .intro-img {
    text-align: center;
  }
  .intro-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .intro-social a {
    margin: 2rem;
  }
  .cool-girl,
  .music,
  .ignite,
  .capture {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50rem;
            flex: 1 1 50rem;
  }
  .cool-girl img,
  .music img,
  .ignite img,
  .capture img {
    width: 100%;
    height: 100%;
  }
  footer {
    min-height: 9vh;
  }
  footer h4 {
    padding-bottom: 4rem;
    padding-top: 2rem;
    text-align: center;
  }
  footer ul {
    padding-bottom: 2rem;
  }
  .form-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-section .info {
    height: 100%;
    margin-bottom: 20rem;
  }
}

@media screen and (max-width: 1024px) {
  nav {
    width: 99%;
  }
}
/*# sourceMappingURL=style.css.map */